body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(185, 5, 5);
    padding: 15px;
    font-size: 40px;
    color: rgb(185, 5, 5);
}

.chamada {
    background: rgb(185, 5, 5);
    padding-bottom: 55px;
    padding-top: 60px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 90px;
}

p {
    font-size: 45px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 140px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 5px solid rgb(185, 5, 5);
}

.categoria h2 {
    color: rgb(255, 255, 255)
}
